body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  overflow: hidden;
  /* top:0;
  left:0; */
  margin: 0;
}

:root {
  --header-height: 64px;

  /* --dark-blue: #023047;
  --blue: #219ebc;
  --light-blue: #8ecae6;
  --orange: #eb5e28;
  --yellow: #ffb703; */

  --black: #000000;
  --brown: #fca311;
  --blue: #14213d;
  --light-blue: #93AADC;
  --grey: #e5e5e5;
  --dark-grey: #5C5C5C;
  --white: #ffffff;


  --lighter: #754A00;

  font-family: 'Montserrat', sans-serif;

  overflow: hidden;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
